.glass-navbar {
    z-index: 10;
    border-bottom: 0.2rem solid darkorange;
    padding-top:0.05rem;
    padding-bottom: 0.05rem;
}

.navbar-toggler-icon {
    border:none;
    background: transparent;
    background-image: url("assets/menu_icon.svg");
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100% 100%;
    display: flex;
}

.navbar-logo{
    height: 2.5rem;
    width: auto;
    object-fit: contain;
}

.join-icon{
    height: 3rem;
    width:auto;
    object-fit: contain;

}
.hero-container{

}
.hero {

    background: url("assets/clan-bg.png");
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
}

.bangers-regular{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.brand-text {
    font-family: "Bangers", system-ui;
}

.floating-container {
    background: rgba(255,255,255,0.25);
    border: 0.1rem solid darkorange;
    transform: translateX(-15rem);
    animation: floatInLeft 2s ease-out forwards;
    justify-content: center;
}

@keyframes floatInLeft {
    0%{
        opacity: 0;
        transform: translateX(-15rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.joinbtn{
    font-family: "Bangers", system-ui;
    border: none;
    background-color: transparent;
}

.nav-text{
    font-family: "Bangers", system-ui;
    color: darkorange;
}

.part-header{
    font-family: "Bangers", system-ui;
    color: darkorange;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.small-body-text{
    color: white;
    font-size: clamp(0.5rem, 2vw, 2rem);
}

.master-container{
    background-image: url("assets/paleheart.jpg");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
