.glass-navbar {
    z-index: 10;
    border-bottom: 0.2rem solid darkorange;
    padding-top:0.05rem;
    padding-bottom: 0.05rem;
}

.navbar-toggler-icon {
    border:none;
    background: transparent;
    background-image: url("assets/menu_icon.svg");
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100% 100%;
    display: flex;
}

.navbar-logo{
    height: 2.5rem;
    width: auto;
    object-fit: contain;
}

.join-icon{
    height: 3rem;
    width:auto;
    object-fit: contain;

}

.bangers-regular{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.brand-text {
    font-family: "Bangers", system-ui;
}

.floating-container {
    background: rgba(255,255,255,0.25);
    max-width: 100ch;
    transform: translateX(-20rem);
    animation: floatInLeft 1.5s ease-out forwards;
    justify-content: center;
    margin-bottom: 1rem;
}

@keyframes floatInLeft {
    0%{
        opacity: 0;
        transform: translateX(-20rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.joinbtn{
    font-family: "Bangers", system-ui;
    border: none;
    background-color: transparent;
    color: white;
}

.nav-text{
    font-family: "Bangers", system-ui;
    color: black;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
}

.part-header{
    font-family: "Bangers", system-ui;
    color: darkorange;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.small-body-text{
    color: white;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
}

.master-container{
    background-image: url("assets/paleheart.jpg");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-container{
    background-color: darkorange;
    position: relative;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
}

.card{
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.member-title{
    font-family: "Bangers", system-ui;
    color: black;
}

.member-text{
    color:black;
    max-width: 30ch;
}

.d2-hero{
    min-height: 4.5rem;
    max-height: 11rem;
    width: auto;
    object-fit: contain;
}

.clan-offers{
    background-image: url("assets/pale_heart2.webp");
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.event-icon{
    object-fit: contain;
    height: 6rem;
    width: 6rem;
}

.d2-icon{
    height: 1.5rem;
}

.about-container{
    background: #1a1d20;
    border-top: 0.2rem solid orange;
    border-bottom: 0.2rem solid orange;
}

.context-container{
    border-left: 0.2rem solid orange;
    border-right: 0.2rem solid orange;
    width: fit-content;
}

.bullet-list{
    list-style-type: square;
    list-style-position: outside;

}

.bullet-list li{
    display: list-item;
    align-items: flex-start;
}

.bullet-list li::marker{
    color: orange;
}

.join-container{
    background-image: url("assets/traverller_portal.jpg");
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-join{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}